*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.encabezado{
    padding: 10px;
    width: 100%;
    height: 75px;
    display: block;
    margin: auto;
    overflow: hidden;
    background-color: darkblue;
}

.encabezado h2{
    width: 100%;
    height: auto;
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

.banner{
    padding: 5px;
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    overflow: hidden;
    display: block;
}

.banner p{
    width: 50%;
    height: auto;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    float: left;
    overflow: hidden;
}

.banner small{
    width: 50%;
    height: auto;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: gray;
    padding: 5px auto;
    float: left;
    overflow: hidden;
}

.banner span{
    width: 50%;
    height: auto;
    display: block;
    background-color: lightgray;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    padding: 5px 0px;
}

.banner .boton{
    float: left;
    overflow: hidden;
}

.banner .boton a{
    padding: 5px;
    width: 50%;
    height: auto;
    display: block;
    float: left;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: darkgreen;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner span img,
.registro .alert span img,
.banner a img{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 49%;
    float: left;
}

.registro{
    padding: 10px;
    width: 100%;
    height: 70vh;
    display: block;
    margin: auto;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
}

.registro .campo{
    padding: 5px;
    width: 48%;
    height: auto;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
}

.registro .campo img{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    border-radius: 49%;
    border: 1px solid lightgray;
}

.registro .campo label{
    width: 15%;
    height: auto;
    display: block;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: darkblue;
    letter-spacing: 1px;
    background-color: white;
    position: absolute;
    margin: -10px 40px;
}

.registro .campo input,
.registro .campo select{
    padding: 5px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 3px;
    color: black;
}

.registro .alert{
    padding: 10px;
    width: 50%;
    height: auto;
    display: none;
    margin: auto;
    background-color: lightgray;
    border: 2px solid red;
    border-radius: 3px;
}

.registro .alert span{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.registro .boton,
.banner .boton{
    padding: 5px;
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    overflow: hidden;
}

.registro .boton input{
    width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 3px;
    border: 0px;
    background-color: darkgreen;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.contenedor,
.contenedor .dataEmpleados thead,
.contenedor .dataEmpleados tbody{
    padding: 5px;
    width: 100vw;
    height: auto;
    display: block;
}

.contenedor .dataEmpleados tbody{
    overflow: auto;
}

.contenedor .dataEmpleados{
    width: 100vw;
    height: auto;
    display: block;
    margin: auto;
}

.contenedor .dataEmpleados thead td{
    width: 24.5vw;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    float: left;
    overflow: hidden;
    padding: 3px 0px;
    background-color: lightsteelblue;
}

.contenedor .dataEmpleados tbody tr td{
    width: 24.5vw;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    float: left;
    overflow: hidden;
    padding: 3px 0px;
}

.contenedor .dataEmpleados tbody tr{
    padding: 3px 0px;
    width: 99vw;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.contenedor .dataEmpleados tbody tr:nth-child(2n){
    background-color: lightgray;
}