<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Plataforma LAIN</title>
</head>
<body>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a href="views/homeEmp.php" target="ventana">Empleados</a>
            </li>
            <li>
                <a href="" target="ventana">Grupos de Trabajo</a>
            </li>
            <li>
                <a href="" target="ventana">Incapacidades</a>
            </li>
            <li>
                <a href="" target="ventana">Usuarios</a>
            </li>
            <li>
                <a href="" class="logout">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
    <iframe class="ventana" id="ventana" name="ventana" src="" frameborder="0"></iframe>
    <footer class="pie">
        <small>Diseño y Desarrollo por PabloProgramador - 2021</small>
        <a href="#">Aviso de Privacidad</a>
    </footer>
</body>
</html>